<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.weight" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/android"
        android:label="BMI体重指数计数器"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="测健康" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
